/node_modules
/public/hot
/public/storage
/public/js
/public/css
/public/images
/public/fonts
/public/vendors
/public/json
/storage/*.key
/vendor
/materialize-shell-scripts
/.idea
.env
.env.backup
.phpunit.result.cache
.phpstorm.meta.php
_ide_helper.php
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
supervisord.log
supervisord.pid
